svg{
	background:antiquewhite;
	margin:auto;
	display:block;
}
.axis path,
.axis line{
	fill:none;
	stroke:#000;
	shade-rendering:crishpEdges;
}
.subheader{
	padding-top: 20px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}