.parent{
	margin-top:20px;
}
.search{
	margin-top:60px;
	text-align:center;
	
}
a{
	cursor:pointer;
}
.submit {
	margin-top:2px;
}
.save {
	margin-top:2px;
}
col-lg-2 col-md-2 col-sm-2 col-xs-2{
	
	text-align:center;
	
}
p{
	margin:0;
	padding:0;
	
}
.x{
	margin-top:10px;
}
.create {
	margin-bottom:40px;
}


media (max-width: 480px) {
   
	span{
		font-size:5px;
	}
	button{
		font-size:5px;
	}
	.gender{
	padding-left:30px;
	}
	.phone{
		padding-left:30px;
	}
	.age{
		padding-left:30px;
	}
}

@media (min-width: 480px) {
    span{
		font-size:5px;
	}
	button{
		font-size:5px;
	}
	.gender{
	padding-left:30px;
	}
	.phone{
		padding-left:30px;
	}
	.age{
		padding-left:30px;
	}
}

@media (max-width: 991px) {
    span{
		font-size:12px;
	}
	 button{
		font-size:12px;
	}
}

@media (min-width: 991px) {
    span{
		font-size:12px;
	}
	button{
		font-size:12px;
	}
}

@media (max-width: 768px) {
    span{
		font-size:12px;
	}
	button{
		font-size:12px;
	}
    
}

@media (max-width: 768px) {
    span{
		font-size:12px;
	}
    
}

@media (min-width: 1200px){
    span{
		font-size:14px;
	}
}

@media (min-width: 1200px){
    span{
		font-size:14px;
	}
}