a{
color:#e3f3e3;
text-decoration:none
}
h1{
	font-family: sans-serif;
}
p{
color:yellow;
}
div{
	background-color:green;
	width:500px;
	margin:auto;
	text-align:center;
	
	}
	.emphasis{color:blue;}
	body{
		color:red;
	}
li:nth-child(3){color:orange;}