body{
	background:url("../img/download.jpg");
	font-family: sans-serif;
}
.hnav{
	float:right;
}
p{
	padding-bottom: 15px;
}
.h1h
{
	margin-left: 0px;
	text-align: left;
	float:left;
}
.headr{
	background:white;
	position: fixed;;
	line-height: 40px;
}
li{
	display:inline;
}
a{
	color:#000000;
	text-decoration: none;
}

.sec1{
	padding-top: 100px;
	text-align: center;
	height: 100px;
}
.sec1 a:after{
	content:' /';
	color: brown;

}
.sec1 a{

	margin-left: 0px;
	margin-right: 2px;
}
.sec1 li:nth-child(3) a:after{content:none;}
.hero{
	margin-top: 10px;
	width:100%;
}
.hero2{

	width:50%;
	height: 400px;
	float:right;

}
.hero2 p{
	position: relative;
	padding-left: 10px;

	top:150px;
}
.hero1{

	height: 400px;
	width:50%;
	float:left;
}
.threecol
{
	padding:0px;
	background: red;
}
.threecol1
{	height: 200px;
	margin-left: 0px;
	background:DarkSlateGray;
}
.threecol2 p{
	margin-top: 15px;
	margin-left: 25px;
}
.threecol1 p{
	margin-top: 15px;
	margin-left: 25px;
}
.threecol3 p{
	margin-top: 15px;
	margin-left: 25px;
}
.twocol2 p{
	padding-top: 30px;
	text-align: center;
}
.threecol2
{
	margin-left: 20px;
	height: 200px;
	background:DarkSlateGray;
}
.threecol3
{
	margin-right: 0px;
	margin-left: 20px;
	height: 200px;
	background:DarkSlateGray;
}
.twocol{

	margin-top:20px ;
	height:300px;
}
.twocol1{
	margin-top: 10px;
	height:300px;
	background:#696969;
}
.twocol2{

	margin-top: 10px;
	height:300px;
	background:#696969;


}
.towcol21{
	margin-top:20px;
	margin-bottom: 10px;
	height: 80px;
	background:#e3e3e3;
}
.towcol22{
	margin-bottom: 10px;
	height: 80px;
	background:#e3e3e3;
}
.towcol23{
	height: 80px;
	background: #e3e3e3;
}
header{
	position: fixed;
	opacity: 1;
}
a:hover{
	background: black;
	color:white;
}
#p1{
	font-size: 20px;
}
#p2{
	color:#e3e3e3;
}
#p2:hover{color:black;}
.foot{
	margin:10px 10px;
	background:#708090;
	padding-top: 10px;
}
.ftr2{
	
padding-top: 3px;
}
.ftr2 li{
	margin-right: 20px;
	}
video{
	margin-left: 10px;
}
#p3{
	font-family: cursive;
	text-transform:uppercase;
	margin-left: 250px;
	text-shadow: 2px 1px 1px black;
}
