svg{
	background:antiquewhite;
	margin:auto;
	display:block;
}
.axis path,
.axis line{
	fill:none;
	stroke:#000;
	shade-rendering:crishpEdges;
}
.subheader{
	padding-top: 20px;
}
acontent{
	margin-top:500;
}