body{
	background: #e3e3e3;
	font-family: sans-serif;
	background-image:url(../img/x.jpg);
	background-attachment: fixed;
}
.main{
	
	margin-top:-65px;
}
#top{
	position:fixed;
	background:brown;
	height:65px;
	
}
header{
	background: brown;
	position: fixed;
	height:65px;
}


a{
	color :black;
}
li:hover{
	color:black;
	background: white
}
header nav li{
	display: inline;
	margin-left: 20px;
	position: relative;
	top:25px;
	left:50px;

}
.subheader{
	height: 60px;
	margin-top: 70px;
	background: white;
	margin-bottom: 10px;
}
.subheader li{
	position: relative;
	top:20px;
	display: inline;
	margin-left: 3px;

}
.subheader p{
	padding:5px;
}
.subheader a:after{
	content:"/";
	margin-left: 2px;
	padding-left: 2px;
	color:green;
}
.subheader li:nth-child(2) a:after{
	content: none;
}
.fourcol {
	margin-top: 10px;
	margin-bottom: 10px;
	background:white;
	height:200px;
}

.threecol{
	margin-top: 10px;
	margin-bottom: 10px;
	background: #e3e3e3;
	height:200px;

}
.ftr{
	margin:10px 5px;
	height:40px;
	background:#3A5F0B;
}
section {
	text-align: center;
}
img{
	margin-bottom: 10px;
}
.threecol li{
	margin-bottom: 5px;
}
footer{
	padding-top: 20px;
	background: red;
	height:50px;

}
footer li{
	margin-right: 5px;
	display:inline;

}
img{
	opacity: .5;
}
img:hover{
	opacity:1;
	transition: opacity .5s ease-in-out;
}
a{
	text-decoration: none;
}
footer p{
	font-family: 'Indie Flower', cursive;
}
img {

 opacity: 0.8;


 /*Transition*/
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;

 /*Reflection*/
 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}


header a,footer a,img:hover {
   opacity: 1;

   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
MARQUEE{
margin:13px 10px;
}